#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
#cdrom
url --url http://172.30.50.2/centos7
repo --name=optional --baseurl=http://172.30.50.2/centos7
# Use graphical install
#graphical
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdb
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s26u1u5u5 --onboot=on --activate
network  --bootproto=dhcp --device=eno1 --onboot=on --activate
network  --bootproto=dhcp --device=enp6s0f1 --onboot=on --activate
network  --bootproto=dhcp --device=eno3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno4 --onboot=off --ipv6=auto
network  --hostname=compute000

# Root password
# rootpw --iscrypted $6$SNXTMVfSy2K6mkUw$BGDingRGfuYsfPxq/RNzKnkuUtFFhB5cq1yVOTUTw7t0yvzz/tfw.keWzTaxmMxOjuKCW08AYhDVmxnDI8WNf0
rootpw "123456"
# System timezone
timezone America/chicago --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdb
# Partition clearing information
clearpart --all --initlabel --drives=sdb
# Disk partitioning information
part /var --fstype="ext4" --ondisk=sdb --size=28610
part / --fstype="ext4" --ondisk=sdb --size=195367
part swap --fstype="swap" --ondisk=sdb --size=38146
part /boot/efi --fstype="efi" --ondisk=sdb --size=9536 --fsoptions="umask=0077,shortname=winnt"
part /home --fstype="ext4" --ondisk=sdb --size=4908
part /boot --fstype="ext4" --ondisk=sdb --size=8570

%packages
@^web-server-environment
@base
@compat-libraries
@core
@debugging
@development
@load-balancer
@mariadb-client
@network-file-system-client
@performance
@perl-web
@php
@postgresql-client
@python-web
@web-server
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
